<!-- Design -->
<footer id="footer">
    <p class="copyright">&copy; <span style="font-family:Papyrus; font-size:1.5em;">Naman Malik - </span>
        <span style="font-family:Papyrus; font-size:1.5em;"><a href="https://github.com/namikxgithub">GITHUB</a> 
        | <a href="https://www.instagram.com/namanmalik0210/">INSTAGRAM</a> 
        | <a href="https://www.linkedin.com/in/naman-malik-495664133/">LINKEDIN</a> 
        | <a href="https://www.instructables.com/member/No_Man 007/">INSTRUCTABLES</a>.</p></span>
</footer>